* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1170px;
  }
}

.header {
  padding: 20px;
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: #f6f6f6;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 60px;
}

.header .links {
  position: relative;
}

.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links .icon:hover span:nth-child(2) {
  width: 100%;
}

.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 3px;
}

.header .links .icon span:first-child {
  width: 100%;
}

.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}

.header .links .icon span:last-child {
  width: 100%;
}

.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 200px;
  right: 0;
  top: calc(100% + 15px);
  position: absolute;
  z-index: 1;
}

.header .links ul::before {
  position: absolute;
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  top: -20px;
  right: 5px;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  min-width: 200px;
  right: 0;
  top: calc(100% + 15px);
  position: absolute;
  display: none;
}

.header .links:hover ul {
  display: block;
}

.header .links ul li a {
  color: #333;
  text-decoration: none;
  padding: 15px;
  display: block;
  transition: 0.3s;
}

.header .links ul li a:hover {
  padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

.hero {
  background-image: url(../images/hero-img.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

.hero .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
  font-size: 19px;
  color: aliceblue;
}

.hero h1 {
  margin: 0;
  padding: 0;
  color: #10cab7;
  font-size: 50px;
  font-weight: bold;
}

.features {
  padding: 40px;
  text-align: center;
  background-color: #eee;
  font-size: 17px;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

/* .features .feat:not(:first-child) {
  padding-left: 20px;
  border-left: 2px solid #797979;
} */

.features .feat h3 {
  margin: 30px;
  font-weight: 800;
}

i {
  color: #10cab7;
}

.section-title {
  color: #ebeced;
  font-size: 100px;
  margin: 0;
  font-weight: 800;
  text-align: center;
}

.section-title + p {
  text-align: center;
  margin-top: -30px;
  font-size: 20px;
  color: #797979;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 60px;
  }

  .section-title + p {
    margin-top: -20px;
  }
}

.services {
  padding: 60px;
}

.services .services-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.services-content .col .serv {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .services-content .col .serv {
    flex-direction: column;
    text-align: center;
  }
}

.serv i {
  flex-basis: 60px;
}

.serv .text {
  flex: 1;
}

.serv h3 {
  margin: 0 0 20px;
}

.serv p {
  color: #444;
  font-weight: 300;
}

.services-content img {
  width: 260px;
}

.services-content .image {
  text-align: center;
  position: relative;
}

.services-content .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 100px);
  z-index: -1;
  background-color: #2c4755;
  right: 0;
  top: -50px;
}

@media (max-width: 1280px) {
  .services-content img,
  .services-content .image::before {
    display: none;
  }
}
